<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://localhost:5140/jx3assets/layui/css/layui.css" rel="stylesheet">
  <script src="http://localhost:5140/jx3assets/layui/layui.js"></script>
  <title>活动日历</title>
  <style>
    .container {
      width: 1440px;
    }

    .calendar-grid,
    .title-week {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 10px;
    }

    .layui-panel {
      padding: 20px;
    }

    .calendar-title {
      text-align: center;
    }



    .title-week .day-number {
      text-align: center;
    }

    .calendar-item {
      border-radius: 10px;
      padding: 10px;
    }
  </style>
</head>

<body>
  <div class="layui-panel container">
    <h2 class="calendar-title">活动日历</h2>
    <br>
    <div class="title-week">
      <div class="day-number">星期一</div>
      <div class="day-number">星期二</div>
      <div class="day-number">星期三</div>
      <div class="day-number">星期四</div>
      <div class="day-number">星期五</div>
      <div class="day-number">星期六</div>
      <div class="day-number">星期日</div>
    </div>
    <div class="calendar-grid">
      {{#each data}}
      {{#if this}}
      <div class="layui-panel calendar-item">
        <div class="">{{date}}&nbsp;星期{{week}}</div>
        {{#if war}}
        <div class="">大战: {{war}}</div>
        {{/if}}
        {{#if battle}}
        <div class="">战场: {{battle}}</div>
        {{/if}}
        {{#if school}}
        <div class="">宗门: {{school}}</div>
        {{/if}}
      </div>
      {{else}}
      <div>
      </div>
      {{/if}}


      {{/each}}
    </div>
  </div>
</body>

</html>