<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>百战异闻录</title>
  <link href="http://localhost:5140/jx3assets/layui/css/layui.css" rel="stylesheet">
  <script src="http://localhost:5140/jx3assets/layui/layui.js"></script>
  <style>
    body {
      background-color: #1f2937;
      width: 1080px;
      padding: 4px;
    }

    .container {
      color: #c2c3ff;
      display: flex;
      padding: 20px;
      justify-content: space-between;
      align-items: center;
    }

    .progress-container {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 8px;
      color: #c2c3ff;
    }

    .progress-item {
      position: relative;
      border-radius: 10px;
      background: #373f5f;
      color: #c2c3ff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
    }

    .progress-item .level {
      color: #c2c3ff;
      position: absolute;
      top: 0;
      left: 0;
      padding: 3px;
      font-size: 12px;
      font-weight: bold;
    }

    .progress-item .icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid #373f5f;
    }

    .progress-item:nth-child(10n) .icon {
      border: 2px solid #fff;

    }

    .progress-item .name {
      font-size: 12px;
      font-weight: bold;
      color: #c2c3ff;
    }

    .progress-item .icon img {
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body>
  <div class="container">
    <span>{{formatDate start}} ~ {{formatDate end}}</span>
    <h2>百战异闻录</h2>
    <span>剑荡恩仇：{{boss}}</span>
  </div>
  <div class="progress-container">
    {{#each data}}
    <div class=" progress-item">
      <div class="level">{{level}}</div>
      <div class="icon">
        <img src="http://localhost:5140/jx3assets/images/baizhan/bosss/{{name}}.png" alt="{{name}}" />
      </div>
      <div class="name">{{name}}</div>
      {{#if data.list.length}}
      <div class="info text-danger">{{data.list}}</div>
      {{/if}}
    </div>
    {{/each}}
  </div>

  </div>
</body>

</html>