<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>百战异闻录</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <style>
      body {
        margin: 0;
        font-family: "Microsoft YaHei", "SimSun", sans-serif;
        background: #f5f5f5;
      }
      .progress-container {
        border-radius: 8px;
        margin: 8px;
      }
      .progress-list {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 10px;
      }
      .progress-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        background-color: #fff;
        height: 130px;
      }
    </style>
  </head>
  <body>
    <div class="progress-container">
      <div class="header-container bg-white">
        <div class="header text-center h4">百战异闻录</div>
        <div class="time text-center h6 text-black-50">{{start}} ~ {{end}}</div>
        <div class="footer text-center h6 text-black-50">剑荡恩仇：{{boss}}</div>
      </div>
      <div class="progress-list">
        {{#each data}}
          <div class="progress-item">
            <div>{{level}}</div>
            <div class="h5">{{name}}</div>
            {{#if data.list.length}}
              <div class="text-danger">{{data.list}}</div>
            {{else}}
              <div class="text-black-50">免消耗</div>
            {{/if}}
          </div>
        {{/each}}
      </div>

    </div>
  </body>
</html>
